<div class="row">
  <h2 class="col-md-12 border-bottom py-3">
    No angular material
  </h2>
</div>
<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div class="row">
    <!-- first name -->
    <div class="col-md-4">
      <div class="form-group" 
      [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
        <label>First Name:</label>
        <input class="form-control" type="text" placeholder="John" [formControl]="complexForm.controls['firstName']">
        <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
      </div>
    </div>

    <!-- last name -->
    <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['lastName'].valid && complexForm.controls['lastName'].touched}">
            <label>Last Name</label>
            <input class="form-control" type="text" placeholder="Doe" [formControl]="complexForm.controls['lastName']">
            <!-- The hasError method can work with the built in validators but custom validators as well -->
            <div *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched" class="alert alert-danger">You must include a last name.</div>
            <div *ngIf="complexForm.controls['lastName'].hasError('minlength') && complexForm.controls['lastName'].touched" class="alert alert-danger">Your last name must be at least 5 characters long.</div>
            <div *ngIf="complexForm.controls['lastName'].hasError('maxlength') && complexForm.controls['lastName'].touched" class="alert alert-danger">Your last name cannot exceed 10 characters.</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Gender</label>
            <div class="alert alert-danger" *ngIf="!complexForm.controls['gender'].valid && complexForm.controls['gender'].touched">You must select a gender.</div>
            <div class="form-row">
                <div class="form-check form-check-inline">
                    <label label class="form-check-label" for="inlineRadio1">
                        <input type="radio" name="gender" value="Male" id="inlineRadio1"
                        [formControl]="complexForm.controls['gender']">
                        Male
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineRadio2">
                        <input type="radio" name="gender" value="Female" id="inlineRadio2"
                        [formControl]="complexForm.controls['gender']">
                        Female
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="defaultCheck1" [formControl]="complexForm.controls['agree']" required>
            <label class="form-check-label" for="defaultCheck1">
              Agree to terms and condition.
            </label>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
          <button class="btn btn-primary" (click)="onClick($event)">Trace</button>
          <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
    </div>
  </div>
</form>