<div class="row">
  <h2 class="col-md-12 border-bottom py-3">
    No angular material
  </h2>
</div>
<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group" 
      [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
        <label>First Name:</label>
        <input class="form-control" type="text" placeholder="John" [formControl]="complexForm.controls['firstName']">
        <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched" class="alert alert-danger">You must include a first name.</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
          <button class="btn btn-primary" (click)="onClick($event)">Trace</button>
          <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Submit</button>
    </div>
  </div>
</form>