<div class="row">
    <h2 class="col-md-12 border-bottom py-3">
      Has angular material
    </h2>
</div>

<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <input matInput placeholder="First name" [formControl]="complexForm.controls['firstName']" required>
            <mat-error *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched">
                You must include a first name.
            </mat-error>
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <input matInput placeholder="Last name" [formControl]="complexForm.controls['lastName']" required>
            <mat-error *ngIf="complexForm.controls['lastName'].hasError('required') && complexForm.controls['lastName'].touched">
                You must include a last name.
            </mat-error>
            <mat-error *ngIf="complexForm.controls['lastName'].hasError('minlength') && complexForm.controls['lastName'].touched">
                Your last name must be at least 5 characters long.
            </mat-error>
            <mat-error *ngIf="complexForm.controls['lastName'].hasError('maxlength') && complexForm.controls['lastName'].touched">
                Your last name cannot exceed 10 characters.
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <div><mat-label >Gender</mat-label></div>
        <mat-radio-group formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="onClick($event)">Trace</button>
        <button mat-raised-button color="primary" [disabled]="!complexForm.valid">Submit</button>
    </div>
  </div>
</form>