<div class="row">
    <h2 class="col-md-12 border-bottom py-3">
      Has angular material
    </h2>
</div>

<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <input matInput placeholder="First name" [formControl]="complexForm.controls['firstName']" required>
            <mat-error *ngIf="complexForm.controls['firstName'].hasError('required') && complexForm.controls['firstName'].touched">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <button mat-raised-button color="primary" (click)="onClick($event)">Trace</button>
        <button mat-raised-button color="primary" [disabled]="!complexForm.valid">Submit</button>
    </div>
  </div>
</form>